/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES BEGIN HERE --------------------------- */

/* MOBILE STYLES --------------------------- */

html {
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

.container {
    margin: 0 2em;
}

.header-container {
    margin: 20px 36px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}


h1 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    background-color: #FFD31A;
    padding: 1rem;
    line-height: 1.4em;
    display: inline-block;
}

h2 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.2rem;
    background-color: black;
    padding: 1rem;
    margin: 20px 0;
    display: inline-block;
}

h3 {
    font-size: 19px;
    font-weight: 700;
}

h4 {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    background-color: black;
    padding: 1rem;
    display: inline-block;
}

p {
    line-height: 2em;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

li {
    margin: 10px 0;
}

section {
    padding: 40px 0;
}

/* NAVIGATION BAR --------------------------- */

.logo {
    width: 144px;
}

/* The main-nav keeps the logo and the menu on the opposite ends of the div. This applies to either form the menu has according to screen size */
.main-nav {
    display: flex;
    justify-content: space-between;
}

/* This hides the desktop menu in mobile and tablet views */
.desktop-menu {
    display: none;
}

/* This is the default state of the element for the menuToggle() function to work properly */
#menuItems {
    display: none;
    text-align: right;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social li {
    margin-left: 20px;
}

/* BANNER */

.banner {
    background: #FFD31A url(../images/banner-wide.jpg) no-repeat center top;
    height: 700px;
    display: flex;
    align-items: flex-end;
}

.banner-text-box {
    margin: 0 2em;
    padding: 0 0 200px 0;
}

/* WHATS NEW --------------------------- */

.whats-new h2 {
    margin-bottom: 0;
}

.news-box {
    margin: 50px 0;
}

.news-box h3 {
    margin-top: 20px;
}

.news-box img {
    object-fit: cover;
}

.news-date {
    font-size: 1.2rem;
}

.arrow-button {
    width: 100%;
}

/* Universal styles for links with Arrow icons next to them */
.arrow-button a {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}

.arrow-button:hover {
    background-color: #FFD31A;
}

.im-arrow-right {
    padding-left: 10px;
}

/* FEATURED BRAND --------------------------- */

.featured-brand {
    background: #FFD31A url(../images/featured-bg.jpg) no-repeat center;
}

.white-box {
    background-color: white;
}

/* Prevents the image from stretching */
.white-box img {
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.brand-content {
    padding: 20px;
}

/* The flex allows the icon to properly align with the text */
.featured-tags {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-transform: uppercase;
}

.featured-tags .im {
    margin-right: 10px;
}

.brand-content .arrow-button {
    width: 200px;
}


/* NEWSLETTER --------------------------- */

label {
    display: none;
}

input,
textarea {
    border: none;
    background-color: #F4F4F5;
    height: 40px;
    margin: 10px 0;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
}

/* This textarea is found in the Location page, but declarations are made here for consistency */
textarea {
    padding: 15px;
    height: 250px;
    resize: vertical;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

button:hover {
    background-color: #FFD31A;
}

/* FOOTER --------------------------- */

.widgets {
    padding: 20px 0;
    background-color: black;
    color: white;
}

.widgets a {
    color: white;
    text-transform: none;
}

.widgets a:hover {
    color: #FFD31A;
}

.widgets .social {
    justify-content: left;
}

.widgets .social li {
    margin: 0 1em 0 0;
}

footer h3,
.other-links {
    margin-top: 30px;
    margin-bottom: 10px;
}

footer p {
    line-height: 1.3em;
    margin-bottom: 30px;
}

.copyright {
    padding: 30px 0;
}

/* ABOUT PAGE ------------------------- */

.about-banner {
    background: #FFD31A url(../images/about-banner.jpg) no-repeat center;
    text-align: center;
}

.about-story {
    text-align: center;
}

/* The first sentence of the About page is slightly larger than the rest of the paragraphs */
.about-story p:nth-child(1) {
    font-size: 1.3em;
    margin: 20px 0;
}

.about-story img {
    margin: 30px 0;
}

/* LOCATION ---------------------------- */

.vehicles-items {
    margin: 50px 0;
}

.vehicles-items h3 {
    margin: 15px 0;
}

.vehicles-box {
    margin-bottom: 50px;
}

.feedback {
    background: #FFD31A url(../images/feedback-bg.jpg) no-repeat center;
}

.feedback-box {
    background-color: white;
    padding: 20px;
}

/* PLACEHOLDER UNDER CONSTRUCTION PAGE --------------------------- */

.under-construction {
    padding: 300px 0;
    text-align: center;
}

/* END OF MOBILE STYLES --------------------------- */

/* TABLET STYLES --------------------------- */

@media screen and (min-width:767px) and (max-width: 1279px) {

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    h1 {
        font-size: 35px;
    }

    .banner-main-box {
        width: 700px;
    }

    /* News articles will be put in a 2-column grid */
    .news-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    /* Hides the 3rd news article to keep consistency */
    .news-box:nth-child(3) {
        display: none;
    }

    .brand-content {
        padding: 50px;
    }

    .white-box img {
        height: 600px;
    }

    /* Moves the widgets in a 3-column grid for larger screens */
    .widgets-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* LOCATION --------------------------- */

    /* Divides the vehicles section into 2 columns, as well as the text inputs for the feedback form */
    .vehicles-items,
    .text-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }
}

/* END OF TABLET STYLES --------------------------- */

/* DESKTOP STYLES --------------------------- */

@media screen and (min-width:1280px) {

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    h1 {
        font-size: 39px;
    }

    h4 {
        font-size: 35px;
    }

    /* Ensures the mobile menu stays hidden in the event that the screensize increases while .nav-menu is left open*/
    .nav-menu,
    .hamburger {
        display: none;
    }

    .desktop-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .desktop-menu li {
        margin: 0 10px;
    }

    .banner-main-box {
        width: 1200px;
    }

    /* Arranges the news articles into a 3-column grid */
    .news-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
    }

    /* Arranges the featured brand into a 2-column grid while ensuring the image remains a static size */
    .white-box {
        display: grid;
        grid-template-columns: 420px 1fr;
    }
    
    .white-box img {
        height: 420px;
    }

    .brand-content {
        padding: 80px;
    }

    /* Arranges the newsletter section to have the body text on the left while the form on the right */
    .newsletter-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .widgets {
        padding: 20px 0 80px 0;
    }

    /* Applies the same 3-column structure like in the tablet view */
    .widgets-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* ABOUT --------------------------- */

    .about-story {
        margin: 50px 0;
    }

    /* Keeps the 2 starting paragraphs in the center without becoming too wide */
    .about-story p:nth-child(1),
    .about-story p:nth-child(2) {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Allows the image to occupy the left side of the page with the content on the other */
    .about-picture-box {
        display: grid;
        grid-template-columns: 500px 1fr;
        margin-top: 100px;
    }

    .about-picture-box img {
        margin: 0;
    }

    .about-picture-content {
        margin: 40px 0 0 48px;
        text-align: left;
    }

    /* LOCATION --------------------------- */

    /* Applies a 2-column grid on the vehicles section, the feedback form, and the 2 text inputs inside the form */
    .vehicles-items,
    .text-inputs,
    .feedback-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }
}