/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* * {
    border: 1px solid red;
} */


/* main css starts here */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: peru;
}

.container {
    max-width: 1024px;
    margin: 0em auto 1em auto;
    background-color: rgba(255,255,255,0.6);

}

main {
    padding: 1em;
}

/* site header 
Header - Use the image tag to add the image and position the site title on top of it
*/
h1 {
    position: relative;
    background: url("../images/tootsie-header.jpg") no-repeat center bottom;
    background-size: cover;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 3em 1em 1.5em 1em;
}


nav {
    width:100%;
    margin: 0em 0em 4em 0em;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    border-right: 1px solid black;
}


nav ul li:last-child {
    border:none;
}


nav ul a {
    padding: 1em;
    display: block;
    color: black;
    font-size:1.3rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

nav ul a:hover {
    background-color:orange;
    color: white;
}

h2, h3, h4 {
    margin: 0.5em 0em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

/* Article - Image should have the text wrapping around it */
img {
    width: 200px;
    float: left;
    margin:0em 1em 0em 0em;
}

p {
    margin: 0em 0em 1em 0em;
    line-height: 1.3em;
}

section {
    margin: 2em 0em 0em 0em;
}

section ul li {
    list-style-position: inside;
}

form {
    border: 1px solid black;
    padding: 2em 0.8em 1em 0.8em;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0em 1em 0em;
}

textarea {
    resize: vertical;
    height: 5rem;
}

button {
    background-color: orange;
    border: 1px solid black;
    margin: 2em 0em 0em 0em;
    padding: 0.7em 0.7em 0.7em 0.7em;
    text-transform: uppercase;
    font-size: 0.7rem;
}

footer {
    padding: 1em 1em 2em 1em;
    text-align: right;
}

.return-top {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
}

.return-top a {
    text-decoration: none;
    color: black;
    font-size:1.2em;
    font-weight:bold;
    background-color: orange;
    padding: 0.5em;
}