/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is the end of CSS reset */

/* ---------------------
Custom CSS starts here 
------------------------*/

/* ------- MOBILE STYLES-------- */

/* Changing global text styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #9ED8DB;
}

p {
    text-align: left;
    line-height: 1.5em;
    font-size: 0.9em;
}

/* Makes the whole site occupy the browser's full width */
main#main {
    max-width: 100%;
}


/* This overrides the current navbar style while also fixing it in place. */
nav#nav {
    width: 100%;
    padding: 2em 0;
    margin: 0;
    border: none;
    background-color: #D64045;
    position: fixed;
}

/* navbar text styles */
.nav a.nav-link {
    margin: 0;
    color: white;
    font-weight: 100;
    letter-spacing: 0.2em;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.4em;
}


/* Styles for Home section: changing background colour, H1 and paragraph styles  */

section#home {
    height: 812px;
    background-color: #1D3354;
    padding: 150px 30px 0px 30px;
    font-family: inherit;
}


/* Overall style of "Hello" text */
h1.page-title {

    color: white;
    font-size: 6rem;
    font-weight: bold;
    text-align: left;
    margin: 100px 0 30px 0;
}

/* Main style for all section headers */
h2.section-title {
    text-align: inherit;
    font-weight: bold;
    font-size: 3rem;
    color: #1D3354;
}


/* About section styles, changing background colour and spacing adjustments */
section#about {
    background-color: #E9FFF9;
    padding: 100px 30px;
}

/* Using clear:left to prevent image from floating next to the paragraphs. */
.about p {
    clear: left;
    background-color: #9ED8DB;
    color: #1D3354;
    font-size: 1rem;
    padding: 1.2em;
}


/* contact section background colour and fixing alignment issues */
section#contact {
    background-color: #467599;
    padding: 100px 30px;
}

/* resizes the paragraph text to be consistent with about us paragraphs */
.contact p {
    font-size: inherit;
    margin: 1em 0;
}

/* fixes width of the contact form to not overflow */
form.contact-form {
    background-color: #9ED8DB;
    width: auto;
    padding: 1.5em;
}

label.contact-form-label {
    font-size: 1rem;
    color: #1D3354;
}

/* textbox styles */
input.contact-form-input,
textarea.contact-form-input {
    padding: 0;
    margin: 0.5em 0;
    height: 2rem;
    border: none;
    background-color: #E9FFF9;
    margin: 1em 0;
    resize: vertical;
}

/* makes the message box bigger */
textarea.contact-form-input {
    height: 5rem;
}

/* button styles for mobile */
button {
    width: 100%;
    height: 3em;
    border: none;
    background-color: #D64045;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

/* changing footer alignment and background colour for consistency */
footer {
    background-color: #1D3354;
    padding: 30px;
}

/* ------- END OF MOBILE STYLES -------- */


/* ------- IPAD STYLES-------- */

@media screen and (min-width:768px) and (max-width:1023px) {


    /* Increases padding for home to be appropriate for iPad screens */
    section#home {
        height: 700px;
        padding: 300px 130px 50px 130px;
    }


    /* Moves the "Hello" lower down the centre of the screen */
    h1.page-title {
        font-size: 7rem;
        margin: 100px 0 30px 0;
    }


    /* Keeps the image on the centre while maintaining its position on top of the paragraphs */
    img.about-image {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Universal styles for non-home sections */
    section#about,
    section#contact {
        padding: 100px 130px 50px 130px;
    }

    footer {
        background-color: #1D3354;
        padding: 30px 130px;
    }

}

/* ------- END OF IPAD STYLES-------- */


/* ------- DESKTOP STYLES -------- */

@media screen and (min-width:1023px) {

    /* Sets universal padding for all sections */
    section#home,
    section#about,
    section#contact {
        padding: 100px 150px;
    }

    /* Makes the home section occupy the full height of the screen */
    section#home {
        height: 800px;
    }

    /* Increases size of "Hello" for desktop view */
    h1.page-title {
        font-size: 8rem;
        margin: 150px 0 30px 0;
    }


    /* Universal styles for section headers */
    h2.section-title {
        font-weight: bold;
        font-size: 4rem;
        margin: 0 0 30px 0;
    }

    /* Increases size of Home paragraph text while keeping it only up to 80% the total width of the screen */
    .home p {
        max-width: 80%;
        font-size: 2rem;
    }

    /* Adjusts line height for about and contact sections */
    .about p,
    .contact p {
        line-height: 2em;
    }

    /* Floats the header to the left so the image can be on the same line to its right */
    .about h2 {
        float: left;
    }

    /* Floats the image to the other end of the block while maintaining its size regardless of monitor size */
    img.about-image {
        width: 360px;
        float: right;
    }

    /* Uses clear to ensure floating elements do not overlap with the paragraphs */
    .about p {
        font-size: 1.4rem;
        clear: both;
    }

    /* Applies css clearfix to the contents of contact section to prevent overflow of elements */
    section#contact::after {
        content: '';
        display: table;
        clear: both;
    }

    /* Keeps the contact paragraph to the left with the contact form on the right */
    .contact p {
        width: 50%;
        float: left;
        font-size: 1.3rem
    }

    /* Moves the contact form to the right for desktop view */
    form.contact-form {
        width: 40%;
        float: right;
    }

    /* Moves the button to the bottom right of the form while also limiting its width to not be too wide for desktop view */
    button {
        width: 200px;
        float: right;
    }

    footer {
        padding: 30px 150px;
    }

}