/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET-------- */


/* ---------------- CUSTOM STYLES START HERE */


/* MOBILE STYLES --------------------------- */

html {
    font-family: 'Montserrat', sans-serif;
    color: #333131;
}

/* Ensures section colours retain full width of the browser */
.wrapper {
    width: 100%;
}

/* The box that keeps all content within boundaries */
.container {
    padding: 36px;
}

main {
    background-color: #F7F7FF;
}

.logo {
    width: 120px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
}

.titlebox p {
    font-size: 24px;
    line-height: 29px;
}

p {
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0;
}

.scooter {
    margin: 15px 0;
}

/* Styling the Apply Now box */
.applybox {
    background-color: #FFFFFF;
    border-radius: 26px;
    padding: 25px;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, 0.4);
}

h2 {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0;
}

/* Removes all labels for text inputs */
label[for="firstname"],
label[for="lastname"],
label[for="phone"],
label[for="emailadd"],
label[for="hours"],
label[for="city"] {
    display: none;
}

/* Styling input bars and having them occupy full width of their container box */
input[type="text"],
input[type="tel"],
input[type="email"] {
    border: none;
    background-color: #F4F4F5;
    height: 40px;
    margin: 10px 0;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    border-radius: 11px;
}

/* Removes highlight outline when textboxes are selected */
input:focus {
    outline: none;
}

/* Enlarges the checkbox to match the mockup (only works on Chrome when tested) */
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 11px;
    vertical-align: middle;
}

/* Defining button styles */
button {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #57EEAB;
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: inherit;
    text-transform: uppercase;
    margin: 10px 0;
}

/* Shrinks the text below the "Drive with us" button */
.applybox p:last-child {
    font-size: 14px;
}

/* Hyperlink styles */
a,
a:link,
a:visited {
    color: #FF8480;
    text-decoration: none;
}

footer {
    background-color: #FFFD8C;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}


/* The calculator form will be a grid that distributes the two textboxes  horizontally in the first row, and the button in the second row*/
.calculator {
    display: grid;
    grid-template-columns: 30% 68%;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    max-width: 100%;
}

/* Calculator button occupies the full width of the second row */
.calculator button {
    height: 40px;
    background-color: #FF8480;
    color: white;
    grid-column: 1 / 3;
}

/* Evenly distributes the social media icons */
.socialmedia {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

/* END OF MOBILE STYLES---------------- */

/* TABLET STYLES ---------------------- */


@media screen and (min-width:768px) and (max-width:1399px) {

    /* Limits the content to 900px for larger screens */
    .container {
        padding: 36px 82px;
        max-width: 900px;
        margin: 0 auto;
    }

    h1 {
        font-size: 80px;
        line-height: 96px;
    }

    /* display: block keeps the image centered */
    .scooter {
        width: 70%;
        max-width: 600px;
        display: block;
        margin: 5% auto;
    }

    /* Limits the size of the application box as to not stretch too far out on larger screens */
    .applybox {
        max-width: 900px;
        margin: 0 auto;
    }

    .applybox p:nth-child(2) {
        font-size: 30px;
    }

    .applybox p:last-child {
        text-align: center;
    }

    /* Adjusts the calculator form table into 3 columns instead of 2*/
    .calculator {
        grid-template-columns: 20% 40% 1fr;
        grid-template-rows: 1fr;
        grid-gap: 15px;
    }

    /* Moves the calculator button beside the textboxes */
    .calculator button {
        grid-column: 3 / 4;
    }

    .socialmedia {
        padding: 30px 150px;
    }

}

/* END OF TABLET STYLES---------------- */

/* DESKTOP STYLES ---------------------- */

/* Note from Hannah: While the mockup used 1920px as the screen width, the gap between the tablet and desktop views was too large and the transition wasn't as smooth as I would've liked; so I am using a smaller breakpoint for the desktop view */
@media screen and (min-width: 1400px) {

    .container {
        padding: 40px 140px;
        max-width: none;
    }

    h1 {
        font-size: 80px;
        line-height: 96px;
    }

    /* Contains the 3 main banner elements into a grid with 5 differently-sized columns, because the items overlap with each other. */
    .bannercontent {
        display: grid;
        grid-template-columns: 25% 6% 37% 7% 25%;
        grid-template-rows: 1fr;
        height: 630px;
        margin: 30px 0;
    }

    /* The banner text occupies columns 1 - 2 */
    .titlebox {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    /* Scooter image occupies columns 2 - 4. Max width is also limited to 800px as to not stretch the image too much on ultrawide screens*/
    .scooter {
        width: 100%;
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        max-width: 800px;
        margin: 0;
        align-self: center;
    }

    /* Apply Now box occupies columns 4 - 5. Max width is also limited to not stretch out the box */
    .applybox {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
        max-width: 520px;
    }

    .applybox p:nth-child(2) {
        font-size: 24px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 55px;
        margin: 12px 0;
    }

    .applybox p:last-child {
        font-size: 15px;
    }

    /* The footer area is laid out in a 3 x 1 grid that would distribute the calculator on the left side, and the social media icons on the right */
    footer .container {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 1fr;
    }

    /* Calculator box occupies column 1 */
    .hourscalc {
        grid-column: 1 / 2;
    }

    /* Inside the calculator form is another grid, similar to its tablet view, that would lay the textboxes and the button horizontally */
    .calculator {
        grid-template-columns: 20% 40% 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2%;
    }

    /* Aligns the calculator elements properly */
    .calculator input,
    .calculator button {
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .calculator button {
        grid-column: 3 / 4;
    }

    /* Social media icons box occupies column 3*/
    .socialmedia {
        grid-column: 3 / 4;
        align-items: center;
        justify-content: space-between;
    }

}