body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    /* Adding background image  */
    background-image: url("../images/white_brick_wall.png");
    padding: 82px;
}

/* This is a comment! */
/* *{
    border: 1px solid red;
} */
/* Using asterisk * will apply styles on EVERYTHING */

.container {
    max-width: 1024px;
    margin: 0 auto;
}



h1 {
    /* background-color: peru; */
    color: white; 
}
p {
    background-color: lightblue;
}

/* Multiple elements for same style */
h1,
h2,
h3,
h4 {
    text-decoration:underline;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}
nav ul a {
    display: block;
    color:darkslategray;
    text-decoration:none;
}

/* Selecting class name to style */
.orange-text {
    padding: 1.5em;
    width: 300px;
    display: block;
    background: darkslategray;
    color: orange;
    text-decoration: none;
}

/* Two column layout using float */
article,
aside {
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
    padding: 1.5em;
    width: 80%;
    box-sizing: border-box;
    float:left;
}

img {
    width: 100%;
}

aside {
    width: 20%;
}

section {
    clear:both;
}


.orange-text.large-text {
    position: absolute;
    right:0;
    bottom:0;
}

/* Selecting id value for styling the element */
#tow {
    position: relative;
    /* color image repeat x-axis y-axis */
    background: orange url("../images/bread.jpg") no-repeat center center;
    background-size: cover;
    /* additional styles to make text visible  */
    color: white;
    /* font-size: 24px; */
    /* updating font-size to rem 1.5 x 14 = 24 */
    font-size: 1.5rem;

    /* Adding padding to add space between the border and content  */
    padding: 1em 1em 3em 1em;
    /* 1em = 1 x 24 = 24px */
    /* Adding width using viewport width unit  */
    width: 50vw;

}

/* We can add multiple classes to one element */
.large-text {
    font-size: 20px;
}

/* Child selector or Direct Child Selector
Selecting only the p directly inside the article  */

article>p {
    font-size: 24px;
    font-weight: bold;
    /* values light, normal, bold, bolder OR 100, 200, 300, 400... */
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}

/* Adjacent Sibling Selector 
Selecting only ul that is adjacent to h3*/
h3+ul {
    border:1px solid black;
}

/* Attribute Selector
Selecting element that has attribute of href set to value #tow */
[href="#tow"]{
    font-weight: bold;
}

[target="_blank"] {
    text-transform: uppercase;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;
}
/* Using Pseudo Classes
Styling Navigation */
nav ul a,
nav ul a:link,
nav ul a:visited {
    background: orange;
    /* horizontal vertical blur spread colour */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration:underline;
}

new ul a:active {
    box-shadow: 0 0 4px 2px black;
}

/* Position related selectors 
first class- selector */
aside ul li:first-child {
    font-weight: bold;
}

/* Last child selector */
section ol li:last-child {
    font-weight: bold;
}

/* collapse table borders into one */
table {
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    /* hex value for color with 6 characters */
    background-color: #d5836c;
}

/* using the nth-child with n
where n is 0,1,2... until the number of elements */
table th:nth-child(n),
table td:nth-child(n) {
    /* hex colour with 3 characters */
    border: 1px solid #000;
}

/* 2n+1 will be 1,3,5,7...... */
table td:nth-child(2n+1) {
    background: rgba(0, 0, 0, .2);
}


/* CSS specificity
Formula:  inline-styles id class tag-name */

/* adding a style using tag-name 
specificity: 0001*/

footer {
    background: aqua;
}

/* adding a style using tag-name
specificity: 0001
since it comes aftter, cascade will overwrite the above */

footer {
    background: red;
}

/* 0002 */
body footer {
    background: cornflowerblue;
}

/* adding a style using class name 
specificity: 0010*/

.site-footer {
    background-color: orange;
}

/* adding a style using class name and tag 
specificity: 0011 */

footer.site-footer {
    background-color: lightgreen;
}


/* CSS Box Model  */
section p {
    width: 50%;

    /* padding: 1em; */
    /* padding: 1em .5em 1em .5em; */
    
    
    /* top-bottom left-right */
    padding: 1em .5em;

    /* margin: 2em; */
    /* 2em = 2 x 16 = 32px */

    /* top right bottom left  */
    margin: -1em 2em 2em 2em;



    border-bottom: 2px solid black;
}

/* Adding borders as separators */

aside ul li {
    border-bottom: 1px solid black;
}

aside ul li:last-child {
    border:none;
}